# 日本語（UTF-8）を正しく扱うための設定
[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 4
ngram_token_size=5
max_allowed_packet=2G
max_connections = 200
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 16M
innodb_flush_method = O_DIRECT
disable-log-bin
performance_schema = OFF
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0
general_log = OFF

[mysqldump]
max_allowed_packet = 2G

[client]
default-character-set = utf8mb4
